includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 5
  paths:
    - app
    - tests
  ignoreErrors:
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\.*#'
    - '#Access to an undefined property App\\Models\\.*#'
    - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable::.*#'
    - '#should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\View#'
    - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::#'
    - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\HasMany::#'
    - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\BelongsTo::#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::#'
    - '#PHPDoc type array\\\\|int, string\\\\| property App\\Models\\User::\\$fillable is not covariant#'
    - '#PHPDoc type array\\\\|int, string\\\\| property Illuminate\\Database\\Eloquent\\Model::\\$fillable is not covariant#'
    - '#Parameter #1 \\$callback of method Illuminate\\Support\\Collection#' 